.ant-menu-item::after {
  border-right: none !important;
}

.rocket_maven_icon {
  transition: none;
}

#rocket_maven_logo:hover .rocket_maven_icon {
  transform: rotate(360deg) !important;
  transition: 1s all cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.highcharts-credits {
  opacity: 0.1;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0 20px 0 0px;
}

* {
  @media print {
    font-family: sans-serif;
  }
}

.generate-report-card-form,
.asset-compare-selector {
  width: 500px !important;
}

.ant-picker-ranges .ant-picker-ok {
  width: 70% !important;
}
.ant-picker-ranges .ant-picker-ok button {
  width: 100% !important;
}

.editable-no-margin {
  margin: 0 !important;
}
